.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  list-style-position: outside;
}

a {
  text-decoration: none;
}

body {
  font-family: "Mulish", sans-serif;
}

header {
  display: flex;
  margin: 0 auto;
  background-image: url(../../assets/images/headerbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  position: sticky;
  top: -12px;
  background: transparent;
}
header .navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
header .navigation ul a {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
header .navigation ul a:hover {
  color: #F3AF34;
  transition: 0.3s;
}
header .navigation div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
}
header .navigation div select {
  background: transparent;
  border: transparent;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
header .navigation div select option {
  background-color: black;
}
header .navigation div span {
  height: 30px;
  width: 0.874px;
  border: 1px solid #FFF;
  opacity: 0.5;
}
header .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
header .hero div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 237px;
  padding-bottom: 364px;
}
header .hero div h1 {
  color: #FFF;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}
header .hero div h3 {
  padding-top: 7.28px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
header .hero div button {
  margin-top: 28px;
  background-color: #F3AF34;
  padding: 19px 17px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  border-radius: 4px;
  background: linear-gradient(195deg, #FFB548 11.27%, #F3AF34 90.4%);
  color: #1A1917;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
header .hero button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  background: transparent;
  border: transparent;
  cursor: pointer;
  margin-bottom: 50px;
}
header .hero button h6 {
  color: #FFF;
  text-align: justify;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/about-bg\ image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about__container {
  height: 600px;
  position: relative;
  display: flex;
}
.about .about__container .about__title {
  width: 711px;
  position: absolute;
  z-index: 1;
  border-bottom: 2px solid white;
}
.about .about__container .about__title .about__span {
  width: 261px;
  height: 27px;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
}
.about .about__container .about__title .about__text {
  width: 500px;
  height: 153px;
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
}
.about .about__container .about__item {
  width: 1194px;
  height: 631px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .about__container .about__item .item__title {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}
.about .about__container .about__item .item__title .about__lorem {
  padding-left: 50px;
  width: 364px;
  height: 130px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}
.about .about__container .about__item .item__title .about__lorem .about__strong {
  font-weight: 800;
}
.about .about__container .about__item .item__title .about__lorem-text {
  padding-left: 50px;
  width: 364px;
  height: 50px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}
.about .about__container .about__item .item__title .about__color {
  height: 20px;
  border-bottom: 5px solid #FFB548;
  transition: all 0.5s;
}
.about .about__container .about__item .item__title .about__color:hover {
  transition: all 0.5s;
  height: 100px;
  background-color: #FFB548;
}
.about .about__container .about__item .about__img {
  margin-left: 250px;
  width: 600px;
  height: 597px;
  background-image: url(../../assets/images/Frame\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}
.about .about__container .about__item .about__img .about__list {
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 40px;
}
.about .about__container .about__item .about__img .about__list .list__title {
  width: 80px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.about .about__container .about__item .about__img .about__list .list__title .about__screenshot {
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}
.about .about__container .about__item .about__img .about__list .list__title .about__screenshot:hover {
  background-color: white;
}
.about .about__container .about__item .about__img .about__list .list__title .about__colour {
  position: absolute;
  width: 65px;
  height: 2px;
  background-color: white;
  left: -100%;
  transition: 0.8s;
}
.about .about__container .about__item .about__img .about__list .list__title .about__screenshot:hover .about__colour {
  left: 0;
  transition: 1.5s;
}

.features {
  width: 100%;
  height: 130vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/images/festutes-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.features .features__container {
  display: flex;
  align-items: center;
  justify-content: end;
}
.features .features__container .features__title {
  width: 640px;
  height: 450px;
  margin-top: 50px;
  margin-left: 40px;
}
.features .features__container .features__title .features__span {
  width: 262px;
  height: 27px;
  font-weight: 700;
  font-size: 24px;
  color: white;
}
.features .features__container .features__title .features__top-text {
  width: 411px;
  height: 73px;
  font-weight: 700;
  font-size: 80px;
  color: white;
}
.features .features__container .features__title .features__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
}
.features .features__container .features__title .features__item .features__div {
  width: 590px;
  height: auto;
}
.features .features__container .features__title .features__item .features__text {
  width: auto;
  color: #FFB548;
  font-weight: 700;
  font-size: 36px;
  padding: 5px 0;
}
.features .features__container .features__title .features__item .features__lorem {
  width: 362px;
  height: 77px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.features .features__container .features__title .features__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 490px;
}
.features .features__container .features__title .features__list .features__text {
  width: auto;
  height: 38px;
  color: #FFB548;
  font-weight: 700;
  font-size: 36px;
}

footer {
  background-color: #07090a;
}
footer .newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
footer .newsletter .newslestter__left {
  flex-direction: column;
  align-items: start;
  width: 678px;
  padding-top: 50px;
}
footer .newsletter .newslestter__left h3 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
footer .newsletter .newslestter__left h1 {
  padding-top: 8px;
  color: #FFF;
  font-family: "Bebas Neue";
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}
footer .newsletter .newslestter__left p {
  padding-top: 46px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
footer .newsletter .newslestter__left form {
  display: flex;
  gap: 17px;
  padding-top: 90px;
}
footer .newsletter .newslestter__left form input {
  background: rgba(255, 255, 255, 0.08);
  color: #FFB548;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 346.922px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding-left: 22px;
}
footer .newsletter .newslestter__left form button {
  padding: 19px 70px;
  background: linear-gradient(195deg, #FFB548 11.27%, #F3AF34 90.4%);
  border: 1px solid #F3AF34;
  border-radius: 5px;
  cursor: pointer;
  color: #1A1917;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
footer .footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
footer .footer .footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
}
footer .footer .footer__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
footer .footer .footer__nav ul a {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
footer .footer .footer__nav ul a:hover {
  color: #F3AF34;
  transition: 0.3s;
}
footer .footer .line {
  width: 1200px;
  height: 1px;
  border: 1px solid #FFF;
  opacity: 0.5;
}
footer .footer .footer__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 48px;
}
footer .footer .footer__bottom :first-child {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
footer .footer .footer__bottom :last-child {
  color: #FFF;
  text-align: right;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  position: sticky;
  top: -12px;
  background: transparent;
}

/*# sourceMappingURL=main.css.map */
