@import './header';
@import './aboutsection';
@import './featuressection';
@import './requirmentsection';
@import './quotesection';
@import './footer';

.navigation{
    @include dFlex;
    padding-top: 20px;
    position: sticky;
    top: -12px;
    background: transparent;
}